<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5e_85">

  <xacro:arg name="ur_type" default="ur5e"/>
  <xacro:arg name="name"    default="ur5e_85"/>
  <xacro:arg name="use_fake_hardware" default="true"/>

  <link name="world"/>

  <!-- ===== UR5e ===== -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <xacro:ur_robot
      name="$(arg name)"
      tf_prefix=""
      parent="world"
      joint_limits_parameters_file="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"
      kinematics_parameters_file="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"
      physical_parameters_file="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"
      visual_parameters_file="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"
      use_mock_hardware="$(arg use_fake_hardware)"
      headless_mode="false">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <!-- ===== Robotiq 2F-85 ===== -->
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>

  <xacro:robotiq_gripper
      name="RobotiqGripperHardwareInterface"
      prefix=""
      parent="tool0"
      use_fake_hardware="$(arg use_fake_hardware)"
      include_ros2_control="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_gripper>

</robot>
